@model AzurePipelinesToGitHubActionsConverter.Core.Conversion.ConversionResponse
@{
    ViewData["Title"] = "Home";
}

<form method="POST">
    <div class="text-center">
        <h4>
            Paste your Azure Pipelines YAML into the left textbox, <br />
            then use the "Process YAML" button to generate GitHub Actions YAML
        </h4>
        <span>This migration has approximately ~90% accuracy, depending on the YAML tasks. <br />For tasks unable to be migrated, a comment is added to the results</span>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="height:60vh;">
                    <div class="codeHeader lang-html" data-bi-name="code-header">
                        <span class="language">Azure DevOps Pipeline YAML</span>
                    </div>
                    <textarea rows="20" cols="60" id="txtAzurePipelinesYAML" name="txtAzurePipelinesYAML" style="height: 90%; width: 100%; text-align: left; white-space: nowrap; overflow: auto; font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace; font-size: 12px; color: #333; font-weight: 400;">@Model.pipelinesYaml</textarea>
                </div>
                <div class="col-sm-6" style="height:60vh;">
                    <div class="codeHeader lang-html" data-bi-name="code-header">
                        <span class="language">GitHub Actions YAML</span>
                        <button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtActionsYAML')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
                    </div>
                    <pre id="txtActionsYAML" style="height: 90%; text-align: left;">
@Model.actionsYaml
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button asp-controller="home" asp-action="Index">Process YAML</button><br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px">
                    <p><b>Try some samples:</b></p>
                    <button asp-controller="home" asp-action="CIExample">.NET Core CI</button>&nbsp;
                    <button asp-controller="home" asp-action="CDExample">.NET Core CD</button>&nbsp;
                    <button asp-controller="home" asp-action="CICDExample">.NET Core CI/CD</button>&nbsp;
                    <button asp-controller="home" asp-action="DotNetFrameworkDesktopExample">.NET Framework Desktop</button>&nbsp;
                    <button asp-controller="home" asp-action="ContainerExample">Container CI/CD (WIP)</button>&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px">
                    @*<button asp-controller="home" asp-action="ASPDotNetCoreSimpleExample">ASP.NET Core</button>&nbsp;       
        <button asp-controller="home" asp-action="ASPDotNetFrameworkExample">ASP.NET Framework</button>&nbsp;*@

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px">
                    <button asp-controller="home" asp-action="AntExample">Ant</button>&nbsp;
                    @*<button asp-controller="home" asp-action="GradleExample">Android Gradle</button>&nbsp;*@
                    <button asp-controller="home" asp-action="MavenExample">Maven</button>&nbsp;
                    <button asp-controller="home" asp-action="NodeExample">NodeJS</button>&nbsp;
                    <button asp-controller="home" asp-action="PythonExample">Python</button>&nbsp;
                    <button asp-controller="home" asp-action="RubyExample">Ruby</button>&nbsp;
                </div>
            </div>
        </div>
        <p>
            <b>No YAML is captured or stored</b> in the process of the conversion. <br />
            The source code for this <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverterWeb" target="_blank">website</a>, and it's <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter" target="_blank">core conversion code</a>, is stored in GitHub and is fully open source.
            <br /><br />
            If you run into a bug, please <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">post an issue</a>!
        </p>
    </div>
</form>