@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>No YAML is captured or stored</b> in the process of the conversion. <br />
    The source code for this <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverterWeb" target="_blank">website</a>, and it's <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter" target="_blank">dependency</a>, is stored in GitHub and is fully open source.
    <br /><br />
    If you run into a bug, please <a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">post an issue</a>!
</p>
