@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The source code for this project, and it's dependency, is stored here. No YAML is captured in the process of this conversion.</p>
