@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please paste your Azure Pipelines YAML into the left textbox</h1>
    <p>Note that this is just a one way transition</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <textarea rows="5" cols="60" name="description">
                    Azure DevOps Pipeline yaml
                </textarea>
            </div>
            <div class="col-sm-6">
                <textarea rows="5" cols="60" name="description">
                    GitHub Actions yaml
                </textarea>
            </div>
        </div>
    </div>
    <p>The source code for this project, and it's dependency, is stored here. No YAML is captured in the process of this conversion.</p>
</div>